# === Entornos virtuales y Cache de Python ===
.venv/
venv/
pyenv.cfg
.lock
CACHEDIR.TAG
__pycache__/
*.pyc

# === Archivos temporales, logs y depuración ===
scraping_sessions.log
debug_page.html
.vscode/
debug/.gitignore

# === Dependencias de Node / Frontend ===
node_modules/
scentia-frontend/node_modules/
dist/
build/
scentia-frontend/dist/
scentia-frontend/build/
scentia-backend/check_embeddings.py


### DATOS ESTABLES EN EL ULTIMO COMMIT 
scentia-backend/modelos/df_master_estable.parquet
scentia-backend/modelos/profiling_artifacts_estable.pkl
scentia-backend/modelos/X_embedding_estable.npy


### FUNCIONES QUE MODIFICAN LAS TABLAS DE POSGRES
auxiliares/add_columns.py
debug/cluster_inference.py


fragrantica_raw_v5.csv


# === Variables de entorno locales ===
.env
.env.local